.l-footer{
    background-color:rgb(139, 112, 90);
    height: 150px;
    padding-top: 50px;
    bottom: 0;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    flex-direction: column;
    -webkit-flex-direction:column;
    

    a{
        color: white;
        text-decoration: none;
    }
    p{
        color: white;
        font-size: 10px;
        margin-left: 5%;
    }
}



