.l-footer{
    background-color:rgb(139, 112, 90);
    height: 150px;
    padding-top: 50px;
    bottom: 0;
    z-index: 100;

    a{
        display:block;
        color: white;
        text-align: center;
        text-decoration: none;
    }
    p{
        display:block;
        text-align: center;
        justify-items: center;
        color: white;
        font-size: 10px;
    }
}



