.l-footer{
    background-color:rgb(139, 112, 90);
    height:calc(100% - 80%);
    padding:calc(100% - 99%);
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    flex-direction: column;
    -webkit-flex-direction:column;
    

    a{
        color: white;
        text-decoration: none;
        justify-items: space-around;
        -webkit-items:space-around;
    }
    p{
        color: white;
        font-size: 10px;
        justify-items: space-around;
        -webkit-items:space-around;
    }
}



