.l-front__main {
  background: transparent url(..//images/Front__Top.jpg)center no-repeat no-repeat;
  display: -webkit-flex;
  height: 20vh;
  width: 100vw;
  background-size: 100%;
  background-position: center;
  h2 {
    display: flex;
    display: -webkit-flex;
    font-size: 2vh;
    width: 50%;
    height: 80%;
    color: white;
    align-items: center;
    margin-left: 1%;
    font-weight: 100;
  }
  @include pc() {
    background: transparent url(..//images/Front__Top.jpg) left no-repeat no-repeat;
    display: flex;
    display: -webkit-flex;
    height: calc(45vh);
    width: calc(100% - 20%);
    background-size: calc(100%);
    margin: 0;
    h2 {
      display: flex;
      display: -webkit-flex;
      color: white;
      margin-left: 1%;
      font-weight: 100;
      font-size: 3vw;
    }
  }
}

.l-front__main__map {
  background: transparent url(..//images/Front__Map.png) no-repeat;
  height: 65vh;
  background-color: rgba(29, 26, 26, 1);
  background-size: cover;
  @include pc() {
    background: transparent url(..//images/Front__Map.png) no-repeat left;
    margin: 10% 0 0 0;
    width: 80%;
    height:60vh;
    background-color: rgba(29, 26, 26, 1);
    background-size: 100%;
  }
}
