.l-front__main{
    display: flex;
    display:-webkit-flex;
    background:transparent url(..//images/Front__Top.jpg) left no-repeat no-repeat; 
    height: calc(45vh);
    width:calc(100% - 20%);
    background-size:calc(100%);
    margin: 0;
  
    h2{
      display: flex;
      display:-webkit-flex;
      font-size: 3vh;
        color: white;
        place-self: center;
        margin-left: 1%;
        font-weight: 100;
    }
  }

  .l-front__main__map{
    margin: 10% 0 0 0;
    width:80%;
    height: 65%;
    background:transparent url(..//images/Front__Map.png)  no-repeat left;
    background-color:rgba(29, 26, 26, 1);
    background-size:100%;
  }
