.p-visual__TakeOut { 
  width: 625px;
  height: 1196px;
  background:transparent url(..//images/Front__burger.png) center no-repeat no-repeat;
  
  h3{
      color: white;
      font-size: 106px;

  }
}

.p-visual__EatIn{
  margin-left: 10%;
  width: 625px;
  height: 1196px;
  background:transparent url(..//images/Front__Threeburger.png) center no-repeat no-repeat;
  h3{
    color: white;
    font-size: 106px;
  }
}

