.c-input__button{
    width: 40%;
    height: 5vh;
    border-radius: 6px;
    border: #707070 solid 1px;
    margin-right: 1%;
    @include pc{
    width:20vw;
    }
}
.c-submit__button{
    width: 20%;
    height: 5vh;
    cursor: pointer;
    border-radius: 6px;
    border: #707070 solid 1px;
    @include pc{
        width:5vw;
        cursor: pointer;
    }
}

nav{
.c-submit__button2{
    width: 90%;
    height: 4vh;
    margin-left: 5%;
    cursor: pointer;
    border-radius: 6px;
    border: #707070 solid 1px;
    }
    @include pc{
        .c-submit__button2{
        width:15vw;
        height: 7vh;
        cursor: pointer;
        font-weight: 700;
        font-size: 0.8vw;
    }
    p{
        margin: 3% 0 5% 4%;
        font-size: 1vw;
    }
}
}