.c-input__button{   
    //スマホ;
    width: 40%;
    height: 5vh;
    border-radius: 6px;
    border: #707070 solid 1px;
    margin-right: 1%;
    @include pc{
    width:20vw;
    

}
}

.c-submit__button{
    //スマホ
    
    width: 20%;
    height: 5vh;
    cursor: pointer;
    border-radius: 6px;
    border: #707070 solid 1px;
    @include pc{
        width:5vw;
        cursor: pointer;
    }
}