.c-input__button{
    @include pc(){
    width:396px;
    border-radius: 0.4em;
    border: #707070 solid 1px;
    height: 46px;
}
.c-submit__button{
    border-radius: 0.4em;
    border: #707070 solid 1px;
    height: 46px;
    width:136px;
    cursor: pointer;

}
}