.u-textarea__front{
    display: flex-start;
    width: 90%;
    dl{
        position: center;
        border: solid 1px black;
        background-color:rgba(235, 227, 235, 0.5);
        font-size: 1.5rem;
    }
}