.u-textarea__front{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    height: 45vh;
    color: #3C2A10;
    .wf-mplus1p { font-family: 'M PLUS 1p', sans-serif; }
    dl{
        height:10vh;
        background-color:rgba(232, 237, 238, 0.7);
        margin-left: 12%;
        width:75%;
        dt{
            width: 80%;
            font-size:150%;
            margin: 0 0 0 3%;            
            font-style: bold;
            font-weight: 500;
        }
        dd{
            font-size:x-small;
            width:80%;
            margin: 0 0 0 3%;
        }
    }
    @include pc(){
        margin: 5% 0 0 0;
        height: 80vh;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content:bottom;
        justify-content:flex-end;
        -webkit-align-items: flex-start;
        align-items: flex-start;
        -webkit-flex-direction: column;
        flex-direction: column;
        dl{
            height:15vh;
            background-color:rgba(232, 237, 238, 0.7);
            margin-left: 12%;
            width:75%;
            dt{
                height:5vh;
                width: 80%;
                font-size:150%;
                margin: 3% 0 0 3%;            
                font-style: bold;
                font-weight: 500;
            }
            dd{
                font-size:auto;
                width:80%;
                margin: 3% 0 0 3%;
            }
        }
    }
}

.u-front__map__text{
    color: white;
    width: 80%;
    font-size:1.3;
    margin: 3% 0 0 3%;            
    font-style: bold;
        @include pc(){
        color: white;
        width: 80%;
        font-size:1.3;
        margin: 3% 0 0 3%;            
        font-style: bold;
    }
}

.u-archive__text{
    height: 40vh;
    margin-bottom: 5%;
    h2{
    width: 85%;
    color: black;
    display: flex;
    justify-content:flex-end;
    font-weight: unset;
    font-size:8vw;
    padding-top: 5%;
    }
    p{
        display: flex;
        width: 88vw;
        margin: 4%;
        text-align: left;
    }
    @include pc(){
        height: unset;
        margin: unset;
        color: #707070;
        h2{
            color: #707070;
            padding: unset;
            font-size: 2vw;
            justify-content: flex-start;
            margin-left: 4%;
            font-weight: unset;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }
        p{
            margin-bottom: unset
        }
    }
}