.u-textarea__front{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-flex-direction: column;
    flex-direction: column;
    height: 200px;
    dl{
        background-color:rgba(232, 237, 238, 0.7);
        margin-left: 12%;
        width:calc(100% - 25%);
        dt{
            
        }
        dd{
        }
    }
}
.u-front__map__text{
    color: white;
}